# Install with: `pip install -r requirements.txt`

Django >=1.8.0, < 1.9
pymongo                         #
mongoengine                     #
djangorestframework == 3.3.0
django-rest-framework-mongoengine
requests
markdown
kronos                                  # scheduling tasks