<blockquote class="twitter-tweet" lang="en">
    <a href="http://twitter.com/CNN/status/659923285359071232"></a>
</blockquote>
<blockquote class="twitter-tweet" lang="en">
    <a href="http://twitter.com/CNN/status/659912207455637504"></a>
</blockquote>
<blockquote class="twitter-tweet" lang="en">
    <a href="http://twitter.com/CNN/status/659934352462249984/photo/1"></a>
</blockquote>
<blockquote class="twitter-tweet" lang="en">
    <a href="http://twitter.com/CNN/status/659923285359071232"></a>
</blockquote>
<blockquote class="twitter-tweet" lang="en">
    <a href="http://twitter.com/CNN/status/659923285359071232"></a>
</blockquote>
<blockquote class="twitter-tweet" lang="en">
    <a href="http://twitter.com/CNN/status/659923285359071232"></a>
</blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>